[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "brglm"]
	path = brglm
	url = https://github.com/ikosmidis/brglm
	shallow = true
	registered = true
[submodule "brglm2"]
	path = brglm2
	url = https://github.com/ikosmidis/brglm2
	shallow = true
	registered = true
[submodule "cranly"]
	path = cranly
	url = https://github.com/ikosmidis/cranly
	shallow = true
	registered = true
[submodule "detectseparation"]
	path = detectseparation
	url = https://github.com/ikosmidis/detectseparation
	shallow = true
	registered = true
[submodule "enrichwith"]
	path = enrichwith
	url = https://github.com/ikosmidis/enrichwith
	shallow = true
	registered = true
[submodule "profileModel"]
	path = profileModel
	url = https://github.com/ikosmidis/profilemodel
	shallow = true
	registered = true
