[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brglm"]
	path = brglm
	url = https://github.com/ikosmidis/brglm
[submodule "brglm2"]
	path = brglm2
	url = https://github.com/ikosmidis/brglm2
[submodule "cranly"]
	path = cranly
	url = https://github.com/ikosmidis/cranly
[submodule "detectseparation"]
	path = detectseparation
	url = https://github.com/ikosmidis/detectseparation
[submodule "enrichwith"]
	path = enrichwith
	url = https://github.com/ikosmidis/enrichwith
[submodule "profileModel"]
	path = profileModel
	url = https://github.com/ikosmidis/profilemodel
[submodule "semnar"]
	path = semnar
	url = https://github.com/ikosmidis/semnar
